* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }
    header img{
      width: 250px;
    }
    .wrapper {
      width: 900px;
      margin: 0 auto;
      border-right: 2px solid;
      border-left: 2px solid;
    }
    .photo  {
      width: 180px;
      padding-left: 290px;
    }
    .photo:hover {
      opacity: .5;
    }
    nav ul {
      list-style: none;
    }
    nav li {
      display: inline-block;
    }
    .header {
      border-style: solid;
      border-color: black;
      border-width: 4px 0;
      padding-left: 260px;
      margin-top: 40px;
      background-color: gray;
    }
    .header a {
      font-size: 20px;
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      color: black;

    }
    .header a:hover {
      color: white;
      background-color: black;
    }
.h1 {
  text-align: center;
}
h1 {
  margin-top: 10px;
  font-size: 40px;
  color: black;

    }

p {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 22px;
   color: black; 
   padding: 10px; 
}
h2 {
  margin-top: 10px;
  font-size: 35px;
  color: black;
}
.footer {
  padding: 25px;
  color: blue;
  background-color: black;
}

.footer {
  text-align: center;
  font-size: 25
}
.footer li {
  padding: 0 15px;
 
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  border-bottom: 1px solid white;
}
.contacts{
  text-align: center;
  background-color: gray;
}
